<p id="notice"><%= notice %></p>
<body>
<div id="header">
<h1><b>Life In Bloom</b></h1>
<p><i>...JOURNEY OF FAITHFUL LIVING IN A COMPLEX WORLD</i></p>
</div>
<div id="nav">


</div>
<div id="section">
<p>This Blog allows you to post as well as comment on different Categories applying tags</p>
</div>

<div id="footer">
<i>Blog by Ranjana</i>
</div>

</body>
