/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
#header {
    background-color:black;
    color:white;
    text-align:center;
    padding:5px;
    font-size: 20px;
}
#nav {
    line-height:30px;
    background-color:#eeeeee;
    height:350px;
    width:100px;
    float:left;
    padding:5px;

}
#section {
    width:75.63%;
    height:160px;
    float:left;
    padding:100px;
    background-image: url(blog.jpg);
    background-size: 100%;
    background-position: center;
    background-size: 100%;
   
}
#footer {
    background-color:black;
    color:white;
    clear:both;
    text-align:center;
    padding:5px;
}
#hdr {
    background-color:#4C4646;
    color:white;
    clear:both;
    padding:5px;
}
.container
{
	margin-top: 40px;
}
body h1,h2
{
	font-family: "HelveticaNeue-Light", "Helvetiva Neue Light","Helvetiva Neue" Helvetica, Arial, sans-serif;
	font-weight: 300;
}
.intro
{
	font-family: Georgia, serif;
	background: none repeat scroll 0 0 #da5d5c;
	color: #fff;
	border-bottom: 4px solid #bd403e;
	padding: 5px;
	font-size: 18px;
	line-height: 1.5;
}
.category 
{
	border-bottom: 1px solid #eee;
	padding-bottom: 10px;
	margin-bottom: 20px;
}
.category p 
{
	margin-bottom: 10px;
}
hr
{
	border: none;
	height: 6px;
	background: #ebebeb;
	margin: 20px 0; 
}
.post
{
	margin-bottom: 20px;
	border: 1px solid #eee;
	background: #f9f9f9;
	width: 500px;
	padding: 10px;
}
#postinfo
{
	margin-bottom: 20px;
  border: 1px solid #eee;
  background: #f9f9f9;
  width: 500px;
  padding: 10px;

}
.category
{
margin-bottom: 20px;
  border: 1px solid #eee;
  background: #f9f9f9;
  width: 500px;
  padding: 10px;
}
.comment
{
	margin-bottom: 20px;
	border: 1px solid #eee;
	background: #f9f9f9;
	width: 500px;
	padding: 10px;
}
h4
{
	margin-bottom: 10px;
}
textarea
{
	width: 500px
	height: 200px;
}
input[type="submit"] {
  @include button;
}

div#main {
  @include grid-row;
}

footer {
  margin-top: 50px;
  background-color: #000;
  color: #eee;
  text-align: center;
  p {
    line-height: 100px;
  }
}

